
/* .row {
    height: 70%;
    width: 100%;
    position: absolute;
    background-image: url("../../asset/elearning.jpg");
    background-repeat: no-repeat;
} */

/* .info-pic-left {
    position: absolute;
    background-image: url("../../asset/elearning.jpg");
    background-repeat: no-repeat;
    background-position: center left;
} */

/* .info-pic-right {
    position: absolute;
    background-image: url("../../asset/e-study.png");
    background-repeat: no-repeat;
} */